*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.circle{
    border-radius: 50%;
    width: 0.7rem;
    height: 0.7rem;
    background-color: #c2ff3f;
    color: #000;
}
.date{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
}
.nav{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2vh;

}
button{
    padding: 0.5rem;
    border-radius: 20rem;
    width: 6rem;
    border: 1px solid black;
    background-color: transparent;
    
    margin-left: 0.4rem;

}
nav{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    gap: 0.8rem;
    align-items: center;
}
.star  {
    width: 3.5rem;
    height: auto;
}

.text{
    text-align: center;
    font-weight: bolder;
    font-size: 6rem;
  font-family: "Roboto Condensed", sans-serif;

}
.when{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}
.mis{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
}
.flex{
    display: flex;
    justify-content: center;
    gap: 14rem;
    padding: 1rem;
    align-items: center;
}
.when1{
font-size: 0.6rem;
}
.miss{
    font-size: 0.6rem;
}
.fd{
    font-size: 1.2rem;
}
.watch{
    font-size: 1.2rem;
    cursor: pointer;
    text-decoration-line: underline; 
}
.but-div{
    display: flex;

    justify-content: center;
    align-items: center;
    margin-left: 20%;
    border: 1px solid black;
    width: fit-content;
    border-radius: 20px;
}
.d1{
    background-color: #000;
    color: white;
    width: 30vw;
    border-radius: 20px;
    padding: 1rem;
    font-size:1rem;

}
.days{
    text-decoration: underline;
}
.d2{
    background-color: #ffffff;
    color: black;
    width: 20vw;
    font-size:1rem;

    padding: 1rem;
    
 
}
.flex1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex3{
    display: flex;
    justify-content: flex-start;
    width: 40vw;
}
.row{
    margin-left: 20vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
}